#Library
Guitar_Teaching/Library/

#Logs
Guitar_Teaching/Logs/

#user setting
Guitar_Teaching/UserSettings/
Guitar_Teaching/.vs/
Guitar_Teaching/Temp/

#No use
Guitar_Teaching/.plastic/

# csproj
# Guitar_Teaching/*.csproj

# Plugin Zip
PluginZip/
Guitar_Teaching/Packages/

# Sample Asset
Guitar_Teaching/Assets/SamplesResources/
Guitar_Teaching/Assets/SamplesResources.meta

Guitar_Teaching/ProjectSettings/ProjectVersion.txt.meta

Guitar_Teaching/Assets/Common.meta
Guitar_Teaching/Assets/Common/
# package too big zip
Guitar_Teaching/Editor/Migration/com.ptc.vuforia.engine-10.13.3.tgz